# Compiled Python files
*.pyc
__pycache__/

# Static files
/staticfiles/

# Media files
/media/

/bank_apps/db.sqlite3

# Database
*.sqlite3

# Secret key
*.secret


# Environment variables
.env

# IDE files
.vscode/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*.log
*.tmp

# Ignore migrations (for Django apps)
**/migrations/
